@import "src/variables"
.fileContent
  &:hover .menuContainer
    transition: 0.3s
    opacity: 1

.thumb
  width: $sizeParent
  height: $sizeParent
  border-radius: $brParent
  box-shadow: $boxShadowParent
  position: absolute

.menuContainer
  width: $sizeParent
  height: $sizeParent
  border-radius: $brParent
  position: relative
  opacity: 0
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap
  align-items: center
  .openBtn, .downloadBBtn, .deleteBtn
    color: white
    width: 55px
    cursor: pointer
    border-radius: $brParent
    &:hover
      background-color: $backGHover
    &:active
      background-color: $backGActive
      width: 53px
      padding: 1px
  .progress
    width: 70px
    display: none

.progressContainer
  width: $sizeParent
  height: $sizeParent
  border-radius: $brParent
  position: relative
  background-color: $backGHover
  opacity: 1
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap
  align-items: center
  .progress
    width: 70px


