<div class="fileContent">
  <div class="thumb" *ngIf="thumbnail" style="overflow: hidden;">
    <img src="{{thumbnail}}">
  </div>

  <div class="container"  *ngIf="isError">
    <img src="../../assets/error-outline-red.svg">
    <p>{{messageError}}</p>
  </div>

  <div class="menuContainer" *ngIf="isShowMenu">
    <img *ngIf="isShowOpenBtn" class="openBtn" src="assets/visibility-24px.svg" (click)="open()">
    <img *ngIf="isShowDownloadBBtn" class="downloadBBtn" src="assets/vertical_align_bottom-24px.svg" (click)="download()">
    <img *ngIf="isShowDeleteBtn" class="deleteBtn" src="assets/delete_outline-24px.svg" (click)="delete()">
  </div>

  <div class="container" *ngIf="isShowProgress">
    <img src="../../assets/progress.svg">
  </div>
</div>

<p align="center" style="width: 100%;">{{file.name}}</p>
