@import "src/variables"
p
  overflow-wrap: break-word
  margin-top: 10px

.fileContent
  width: $sizeParent
  height: $sizeParent
  position: relative
  &:hover .menuContainer
    transition: 0.3s
    opacity: 1

.thumb
  width: inherit
  height: inherit
  border-radius: $brParent
  box-shadow: $boxShadowParent
  position: absolute
  img
    height: 100%
    object-fit: cover
    width: 100%

.menuContainer
  width: inherit
  height: inherit
  border-radius: $brParent
  position: absolute
  opacity: 0
  display: flex
  justify-content: space-evenly
  background-color: $backGHover
  flex-wrap: wrap
  align-items: center
  .openBtn, .downloadBBtn, .deleteBtn
    color: white
    width: 55px
    cursor: pointer
    border-radius: $brParent
    &:hover
      background-color: $backGHover
    &:active
      background-color: $backGActive
      width: 53px
      padding: 1px

.container
  width: inherit
  height: inherit
  border-radius: $brParent
  position: absolute
  background-color: $backGHover
  display: grid
  justify-content: space-evenly
  flex-wrap: wrap
  align-items: center
  img
    width: 70px
  p
    color: white
    justify-self: center
    padding: 3px
    background-color: black
    border-radius: 5px


